.container.container-indent
    .card.card-items.bg-primary.bg-light.mb-3
        .card-body.pt-4.pb-4.lesson-contentp
            h2 AppTeka
            p Новый информационно-обучающий сервис от компании МДМ, цель которого – качественная, профессиональная и современная информация.
            h2.mt-4
                .icon-menu.icon-menu-profile.info-title-icon
                | Профиль
            p Наш сервис разработан исключительно   для фармспециалистов с учётом индивидуальной заинтересованности каждого пользователя. Именно поэтому, в рамках абсолютной конфиденциальности, нам важно располагать вашими данными, что  позволит подобрать наиболее полезную информацию для пользователей сервиса.
            h2.mt-4
                .icon-inline.icon-bonus.icon-bonus-gift-light.info-title-icon.fi-6
                |Баллы
            p В нашем сервисе за прохождение опросов и обучений вам начисляются поощрительные баллы, которые вы можете вывести на мобильный счет. Это направление постоянно совершенствуется, и  в ближайшее время вам будут доступны новые действия с накопительными «суммами».
