.container-offset
  padding-top 60px

.bg-gradient-bonuses
  background-image linear-gradient(119deg, #3adbb3, #18b3ff)
  &.card-active
    box-shadow 0 16px 18px 0 rgba(24, 81, 99, 0.39)

.icon-tmp
  height 76px
  width 76px
  margin auto
  position relative

.border-right
  border-top none !important
  border-bottom none !important
  border-left none !important

.border-bottom
  border-top none !important
  border-right none !important
  border-left none !important

.border-light
  border-color rgba(0, 0, 0, 0.1) !important

.icon-bonus-vcenter
  position absolute
  top 0
  bottom 0
  margin auto

.bg-blue
  background-color #77bcd8

.bg-dark-blue
  background-color #083446

.bonuses-menu-body
  height 100%
  background rgb(8, 52, 70)
  &.active
    background-image linear-gradient(102deg, #42f4c8, #00aaff)

.pull-center
  margin auto

.card
  &.bg-dark-blue
    overflow hidden

.form-control-bonuses
  font-size 72px !important
  color #104d65 !important
  border none
  font-family Futura
  text-align center

.form-control-bonuses,
.form-control-bonuses:focus,
.form-control-bonuses-card,
.form-control-bonuses-card:focus
  background transparent

.card-bonuses
  border-radius 12px
  border solid 2px rgba(0, 0, 0, 0.2) !important
  background-image radial-gradient(circle at 50% 38%, #65d4ff, #76bbd6)
  font-family Futura
  color #104d65
  letter-spacing -1px
  line-height 1.09
  font-weight 100
  font-size 22px
  & > .card-body
    padding 43px

.border-light-extra
  border-color rgba(106, 168, 193, 0.2) !important

.bonus-gift-item
  display inline-block !important
  margin-left 2px

.bg-green
  background-color #75e4ca

.bg-dark-blue-active
  box-shadow 0 16px 18px 0 #38a88f
  z-index 10
  overflow hidden

.card-bonuses-phone
  border none
  border-radius 15px
  font-family Futura
  margin-top 50px
  margin-bottom 36px
  position relative
  background-color rgb(60, 227, 194) !important
  background-image url(../../../assets/img/withdraw-phone-bg.svg)
  background-size 100% 100%
  box-shadow 0 13px 32px rgba(0, 0, 0, 0.38)
  color #239082
  & > .card-body
    padding-top 35px
    padding-left 26px

.form-control-bonuses-card
  font-size 33px !important
  border none
  color #1c6252
  &::placeholder
    color #1c6252

.btn-outline-success,
.btn-outline-success:active,
.btn-outline-success:hover,
.btn-outline-success:focus
  border-color #41ffd0
  background-color transparent
  color #41ffd0
  box-shadow none

.btn-outline-success
  &.active
    border-color #41ffd0
    background-color #41ffd0

.btn-group-bonuses
  & > button
    padding 14px

.card-bonuses-phone
  & > .card-bonuses-phone-bg
    height 100%
    width 100%
    position absolute

.form-control-xl
  font-size 80px !important
  color #1a483d !important
  text-align left
  line-height 81px

.text-withdraw-amount
  font-size 22px
  color #00ffdd

.border-dark-semi
  border-color rgba(26, 72, 61, 0.1) !important

.font-primary
  font-family circe !important

.operator-container
  margin-top 32px
  min-height 20px

.form-control-bonuses-normal
  color red !important

.form-transparent,
.form-transparent:focus,
.form-transparent,
.form-transparent:focus
  background transparent
  border none

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance none
  margin 0


select.form-control-xl
  font-size 24px !important
  line-height inherit

.form-phone-withdraw
  input
    color #1a483d !important

@media only screen and (max-width: 450px)
  .card-bonuses-phone
    & > .card-body
      padding-left 15px
      padding-right 15px
