.auth-content
  font-family Futura
  color #ffffff
  position relative
  z-index 10
  h1
    font-weight bold
    font-size 50px
    font-family Futura

.auth-container
  height 100%
  background-color #589dfb
  overflow hidden
  position relative
  &:after
    background-image url(../../assets/img/login-gradient@2x.png)
    content ''
    display block
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    -webkit-filter blur(25px)
    background-position center
    background-repeat no-repeat
    animation auth-background 10s linear infinite

@keyframes auth-background {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.form-control-transparent
  background-color transparent !important
  border none
  font-size 33px
  color white !important
  font-weight bold
  padding 0
  position relative
  z-index 1
  &:focus
    background-color transparent


.auth-form
  margin-top 54px
  hr
    margin 0
    border none
    height 2px
    background-color #00547b
    border-radius 5px
    opacity 0.2
    width 100%

.text-black
  color #000

.text-font
  font-family Circe

.notification-body
  color #ffffff
  text-transform uppercase
  font-family Futura
  letter-spacing 1px
  text-align center
  padding 18px
  font-size 17px

.notification
  min-height 60px
  position absolute
  width 100%
  left 0
  right 0
  background-color rgba(15, 15, 15, 0.6)
  box-shadow 0 -5px 8px 0 rgba(0, 0, 0, 0.14)
  z-index 999999

.notification-top
  top 0

.btn-transparent
  background-color rgba(255, 255, 255, 0.6)
  border none
  padding-top 10px
  padding-bottom 10px
  padding-left 23px
  padding-right 23px

f-circe
  font-family Circe !important

.password-field
  position relative
  & > .password-switcher
    position absolute
    bottom 3px
    right 0
  & > input
    padding-right 32px
    padding-left 32px

.password-switcher
  z-index 999999
  & > .fa
    font-size 31px
    color rgb(255, 255, 255)


// Login button
.progress-button
  position relative
  transition 0.5s all !important
  height 40px
  .content
    height 21px
  & *
    transition 0.5s all !important
  &.active
    height 20px
    padding-top 0
    padding-bottom 0
    box-shadow none !important
    background-color rgba(255,255,255,0.6)
    .content
      height 0
      opacity 0
      display inline-block
      overflow hidden
    .button-progress
      position absolute
      top 0
      left 0
      height 100%
      width 100%
      border-radius inherit
      overflow hidden
    .progress-inner
      width 0%
      height 100%
      display inline-block
      float left
      //background-color rgba(43, 152, 255, 0.8)
      background-color white
      animation: loading-bar 7s linear both;

@keyframes loading-bar
  from
    width 0
  to
    width 100%

