@import '~@angular/material/prebuilt-themes/indigo-pink.css'


$font-family-menu = "Roboto", sans-serif
$font-family-heading = "Roboto", serif
$app-bg = #f5f5f5
$material-padding = 24px

.mat-tab-body-content
    padding $material-padding

.pointer
    cursor pointer
