/*
 * Base structure
 */

html,
body {
    background-color: #ededed;
    height: 100vh;
    color: #0f0f0f;
}

.container,
.container > .row {
    height: 100vh;
}

.error-container h1 {
    font-size: 36px;
    font-weight: 900;
}

.btn-dark {

}
