.bonuses-title
  font-size 18px
  letter-spacing 1.8px
  text-transform uppercase
  color #1a483d !important
  font-weight bold

.carouser-guide
  .carousel-control
    display none
  .carousel-indicators
    bottom 0
    margin 0
    margin-bottom -35px
    & > li
      height 10px
      width 10px
      border-radius 100%
      background-color #c5c5c4
      margin-left 6px
      margin-right 6px
      &.active
        background-color #31c9a6 !important
        height 15px
        width 15px
        margin-top -2.5px
  .guide-body
    background #2a2a2a
    color white
    padding 30px
    border-radius 7px
  .btn-green
    background #2ec89d
    padding 12px 25px 11px 25px
  .guide-controls
    .btn
      font-size 16px
    .btn-link
      color #2ec89d
      border-bottom 1px solid #2ec89d52
      border-radius 0
      padding-bottom 0

.transactions-list
  padding 10px 0
  font-size 14px

.transactions-meta
  text-align right

.transactions-date
  font-size 12px

.transactions-price
  font-weight bold
  &.outcome
    color #ad0202
