@import '../../../assets/styl/variables.styl'

.link-primary
  line-height 1.3
  font-size 20px
  color #0788c0 !important
  border-bottom 1px solid rgba(0, 135, 193, 0.2)

.btn-present
  background linear-gradient(111deg, #3adbb3, #3aa6dc)
  letter-spacing -0.8px
  font-weight bold
  font-family Futura
  font-size 24px
  padding 8px 15px

.navbar-white
  background #ffffff
  border-bottom 1px solid #dcdcdc

.h2-px
  font-size 36px
  line-height 1

.card-wide
  & + .card-wide
    border-top 1px solid #dcdcdc    !important

.jumbotron
  border-radius 0

.btn-outline-danger
  border-width 2px
  border-color rgba(225, 0, 0, 0.2)
  color #cd0000

.btn-xs
  padding 4px 11px
  letter-spacing normal
  padding-bottom 2px

.form-control-light
  background none
  border none
  padding 2.5px 0
  border-bottom 1px solid rgba(114, 114, 114, 0.2)
  border-radius 0
  &:focus
    background none
  &.ng-invalid
    border-color #cd0033

.btn-link
  border none
  &.text-underline
    border-bottom 1px solid
    border-radius 0
    padding 0

.btn-link.text-underline:hover,
.btn-link.text-underline:focus
  text-decoration none

.form-control-label
  position absolute
  top 0
  right 0
  color rgba(73, 80, 87, 0.69)
  & + div
    & > input
      padding-right 70px

.position-relative
  position relative !important

.fa-xxs
  font-size 20px

.text-red
  color #cd0033
  font-size 14px
  margin 0
  position absolute

@media only screen and (max-width: 336px)
  .text-red
    font-size 12px