@import '../../assets/styl/variables.styl'

.icon-menu.fa
  background-image none
  font-size 21px
  color #4d4d4d

.info-title-icon
  float left
  margin-right 15px
  margin-top 4px

.fi-6
  filter invert(60%)

.btn-present-md
  background linear-gradient(111deg, #3adbb3, #3aa6dc)
  font-weight bold
  font-family Futura
  padding 5px 20px
  text-transform uppercase

@media only screen and (max-width: 374px)
  .btn-present-md
    padding 5px 15px
    font-size: 14px

nav.text-white
  .icon-menu
    filter brightness(10)
