@import "../dist/css/bootstrap.min.css"


html,
body
    background-color #ededed
    font-family Circe
    height 100%
    color #0f0f0f

.content
    min-height 100%

.fa-xs
    font-size 25px !important


a
    color inherit
    &:hover
        text-decoration none
        color inherit

.card-items
    border none
    box-shadow none

.container-controls
    padding-bottom 110px

.container-bottom
    position absolute
    width 100%
    left 0
    right 0
    bottom 0
    padding-bottom 25px

.container-questions
    padding-bottom 300px
    position relative
    min-height 100%

.container-footer-controls
    padding-bottom 135px
    position relative
    min-height 100%

.controls-footer-multi
    padding-left 0
    padding-right 0
    button
        padding-left 25px
        padding-right 25px
        margin-left 5px
        margin-right 5px

.card-disabled
    .lesson-icon
        -webkit-filter grayscale(100%)
        filter grayscale(100%)
        opacity 0.2

.card-disabled h4 > span, .card-disabled h6 > span
    opacity 0.4

.btn
    border-radius 30px
    padding 10px 22px 9px 22px

.btn-group-lg > .btn, .btn-lg
    padding 0.7rem 2.5rem

.btn-primary
    border none
    background -moz-linear-gradient(left, #2da7f7 0%, #2dd7f7 100%)
    background -webkit-linear-gradient(left, #2da7f7 0%, #2dd7f7 100%)
    background linear-gradient(to right, #2da7f7 0%, #2dd7f7 100%)

.btn-outline-primary
    border-color #209cec
    color #1b7dbe

.btn-info
    background linear-gradient(284deg, #3044ad, #339cd2)
    border none

.icon-text-x
    &:before
        content '+'
        transform rotate(-315deg)
        display block
        font-size 40px
        line-height 0.7
        width 30px
        height 24px
        margin auto
        margin-top 2px
        margin-right 5px

.circle-status
    display block
    height 23px
    width 23px
    border 2px solid #000000
    border-radius 100%
    opacity 0.2

.circle-status-completed
    background-color #ea526f
    border none
    opacity 1
    width 25px
    height 25px
    &:after
        content ''
        display block
        width 6.4px
        height 10.6px
        border-bottom solid
        border-right solid
        border-width 2px
        border-color #fff
        transform rotate(-315deg)
        margin auto
        margin-top 5px
        position absolute
        left 0
        right 0
        top 0
        bottom 0

.inline-status
    position relative
    padding-right 35px
    & > .circle-status
        position absolute
        right 0
        top 1px

.navbar
    height 60px
    max-height 60px
    min-height 60px
    left initial
    right initial
    width 100%
    .navbar-brand
        font-size 16px
        letter-spacing 1.8px
        font-family Futura
        text-transform uppercase
        margin-right: 0;
        .icon-menu
            float left
            margin-right 15px
    .navbar-toggler
        padding-right 0
        padding-left 0

.text-white
    .navbar-toggle
        .icon-bar
            background-color #fff

.navbar-border
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

.nav-divider
    height 37px

.nav-item
    &.active
        border-bottom 1px solid #323232
        & > a
            padding-bottom 12px

.navbar-default
    background-color #ededed
    border-bottom 1px solid #dcdcdc
    .navbar-brand
        color #323232

.navbar-controls
    display block

.navbar-dark
    border-bottom 1px solid rgba(185, 185, 185, 0.2)
    background-color #000000 !important

.navbar-toggle
    background-color transparent
    background-image none
    border none
    display block
    float right
    .icon-bar
        display block
        width 18px
        height 3px
        border-radius 1px
        background-color #323232
        & + .icon-bar
            margin-top 3px

.navbar-transparent
    background-color rgba(0, 0, 0, 0.2)
    color white
    .navbar-toggle
        .icon-bar
            background-color #ffffff
    a
        color white
    &.bg-gradient
        &:after
            content ''
            background-color rgba(0, 0, 0, 0.2)
            position absolute
            height 100%
            width 100%
            top 0
            left 0
            z-index 0
        & > div
            position relative
            z-index 10

.jumbotron-head
    border-radius 0
    box-shadow 0 10px 16px 0 rgba(183, 183, 183, 0.66)
    margin-bottom 1.25rem
    padding-bottom 6px
    h2
        font-size 36px
    h4
        margin-bottom 0
        line-height 1.25
    p
        font-size 16px

.lesson-content
    font-size 18px
    max-width 100%
    overflow hidden

.lesson-content img
    max-width 100%
    width 100% !important

.content-header
    width calc(100% + 18px)
    margin 0 -9px
    border-radius 4px
    background-color #f8f9fa
    box-shadow 0 11px 12px 0 rgba(214, 214, 214, 0.53)
    & > *
        border-radius 4px

.control-back-arrow
    font-size 30px
    cursor pointer

.btn-control
    font-size 30px
    background transparent
    padding 0
    &:disabled, .disabled
        background-color transparent
        color #c7c7c7
    &.btn-active
        background #323232
        color #ffffff
        width 39px
        height 39px
        margin-right -9px
        border none

.btn-control-arrow-right
    &:after
        content '→'

.content-indicator
    width 50%
    height 5px
    position absolute
    left 0
    bottom 0
    right 0
    background -moz-linear-gradient(left, #f7d92d 0%, #ff8a5b 50%, #ea526f 100%)
    background -webkit-linear-gradient(left, #f7d92d 0%, #ff8a5b 50%, #ea526f 100%)
    background linear-gradient(to right, #f7d92d 0%, #ff8a5b 50%, #ea526f 100%)

.step
    height 8px
    width 8px
    background-color #c7c7c7
    float left
    margin 0 3.5px
    border-radius 100%

.step-wide
    height 39px
    width 39px
    text-align center
    padding 7px 0
    background-color transparent !important
    border solid
    border-width 2px
    margin 0 8.5px

.step-active
    height 12px
    width 12px
    margin-top -2px

.step-active.step-secondary, .step-dark
    background-color: #323232

.step-danger
    background-color #eb536f
    border-color #eb536f
    color #eb536f

.step-primary
    background-color #2da7f8
    border-color #2da7f8
    color #2da7f8

.steps-container
    display table
    margin-top 15px

.test-content
    font-size 22px
    text-align center
    margin-top 38px
    p
        margin-bottom 22px
    .text-muted
        color rgba(15, 15, 15, 0.3) !important

.row-same-padding, .row-same-padding > div
    padding-right 7px
    padding-left 7px

.form-button-box
    background-color #f7d82d
    border-radius 4px
    min-height 95px
    height 100%
    input
        display none
        &:checked
            & + div
                height 100%
    input[type="checkbox"]
        &:checked
            & + div
                &:after
                    content ''
                    display block
                    height 38px
                    width 26px
                    position absolute
                    right 9px
                    bottom 10px
                    transform rotate(-317deg)
                    border-bottom solid
                    border-right solid
                    border-width 5px
                    border-color white
                    z-index 1
    label
        height 100%
        padding 15px
        cursor pointer
        width 100%

.button-box-content
    position relative
    line-height 1.25
    & > span
        position relative
        z-index 1

.card-button
    height 100%
    position relative
    .card-body
        padding 13px 10px
        z-index 10
        position relative
    .card-underline
        border-bottom 1px solid rgba(0, 0, 0, 0.2)
    &:after
        content '+'
        transform rotate(-315deg)
        display block
        font-size 150px
        position absolute
        line-height 0.7
        width 88px
        height 78px
        left 0
        right 0
        top 0
        bottom 0
        margin auto
        opacity 0.2
    &.bg-gradient-success
        padding 15px
        &:after
            content ''
            display block
            height 38px
            width 26px
            position absolute
            left auto
            right 24px
            bottom 10px
            transform rotate(-317deg)
            border-bottom solid
            border-right solid
            border-width 5px
            border-color #000000
            z-index 1
            opacity 0.4

.nimbus
    height 228px
    width 228px
    margin auto
    position relative
    &:after
        content ''
        display block
        background #00ffe8
        background -moz-linear-gradient(-45deg, #00ffe8 0%, #00a4ff 100%)
        background -webkit-linear-gradient(-45deg, #00ffe8 0%, #00a4ff 100%)
        background linear-gradient(135deg, #00ffe8 0%, #00a4ff 100%)
        border-radius 100%
        filter blur(13.4px)
        width 100%
        height 100%
        position absolute
        top 0
        opacity 0.8

.nimbus-container
    height 90%
    z-index 100
    width 90%
    position absolute
    top 0
    bottom 0
    margin auto
    left 0
    right 0
    &:before
        content ''
        display block
        height 100%
        background #ededed
        z-index 10
        position absolute
        width 100%
        border-radius 100%
        left 0
        top 0
        margin auto
        right 0
        bottom 0
        filter blur(13.4px)
    & > div
        z-index 10
        position absolute
        font-family Circe-light
        font-size 110px
        margin-top 30px
        left 0
        right 0
        letter-spacing -9.9px
        color #363636
        text-align center
        sup
            font-size 35%
            top -1.4em
            margin-left 5px
            font-weight bold

@media only screen and (max-width: 374px)
    .col-xs-6
        max-width 50%
        width 50%
        flex 0 0 50%
    .col-xs-12
        max-width 100%
        width 100%
        flex 0 0 100%
    .navbar-main
        padding-bottom 10px !important;

@media only screen and (max-width: 767px)
    .container-bottom
        position initial
        padding 0
    .container-questions
        padding-bottom 0
    .button-box-content
        position inherit
    .card-button
        .card-body
            border none !important
            padding 22px 0
            color white
            span
                border-bottom 1px solid rgba(255, 255, 255, 0.2)
        .card-underline
            border none
        &:after
            font-size 100px
            width 60px
            height 53px
            color #4c0000
            opacity 0.4
    .form-button-box
        min-height 0
        height inherit
        position relative
        input[type="checkbox"]
            &:checked
                & + div
                    &:after
                        top 0
                        bottom 15px
                        right 25px
                        margin auto
                        height 38px
                        width 26px

.menu-navigation
    padding 10px

.layout-menu
    width 80%
    height 100%
    right -80%
    position fixed
    top 0
    bottom 0
    z-index 0
    list-style none
    transition all 0.5s ease

.layout-content,
.layout-menu
    transition all 0.25s ease

.btn-control
    transition none

.btn.disabled, .btn:disabled
    opacity .2

.layout-content
    position relative
    height 100%

.icon-header
    float left
    margin-right 15px

.menu-active
    right 0
    & + .layout-content
        transform translate(-80%, 0)
        -webkit-transform translate(-80%, 0)
        & > nav
            border-bottom-color transparent
            .navbar-toggle
                opacity 0

.navbar-main
    padding-left 56px
    padding-bottom 64px
    text-transform uppercase
    font-size 18px
    letter-spacing 1px
    .nav-link
        padding 13px 0
        &.active
            border-bottom 1px solid #323232
        .icon-menu
            float left
            margin-right 15px

.brand-icon
    height 14px
    width 14px
    float left
    margin-top 3px
    margin-right 7px
    background-size cover
    background-position center
    background-repeat no-repeat

.block-level
    width 100%
    position fixed
    left 0
    bottom 0
    & > .btn
        font-size 20px

.btn-turquoise
    background rgb(60, 229, 195)
    border-top 1px solid #75e4ca
    color #1a483d
    border-radius 0

.brand-icon-wide
    max-height 50px
    max-width 100%

.null-loader
    display flex
    align-items center
    justify-content center
    & > img
        height 100px
        width 100px
        z-index 100

